* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flexing {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}

.stroked {
  border: 2px solid black;
}

#rendering {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "in  tree"
    "out tree";
}

#in {
  grid-area: in;
}

#out {
  grid-area: out;
}

#tree-display {
  width: 600px;
  height: calc(404px + 1em);
  grid-area: tree;
  overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}