* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#io-config {
  padding: 1em;
}

.flexing {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}

.io-form {
  width: 50%;
}

.io-form * {
  width: max-content;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color:lightgray;
}

.stroked {
  border: 2px solid black;
}

#tree-display {
  width: 600px;
  height: 400px;
  overflow-y: scroll;
}

#buttons {

}

button {
  height: 3em;
  width: 6em;

  font-size: xx-large;
}

.pointer {
  cursor: pointer;
}